/* Add your CSS code here  */

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap");

:root {
  --background-color: #f7f7f7;
  --text-color: #333333;
  --ice-blue-juvie: #8fbcd4;
  --gothic-gray-blue: #6f8796;
  --dark-slate-infinity: #1f2a33;
  --gray-border: #cccccc;
  --table-emphasis-background: #e4e1e1;
  --table-background: #fafafa;
  --form-white: #fefefe;
  --form-accent: #0b0b4f;
  --form-heading: #161678;
}

/* ── Global ── */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: var(--text-color);
  line-height: 1.6;
  background-color: var(--background-color);
}

fieldset {
  margin: none;
  border: none;
  padding: none;
}

.font-cinzel {
  font-family: "Cinzel";
}

.main-heading {
  color: var(--gothic-gray-blue);
  max-width: 1024px;
  margin: 2rem;
  padding: 0 1.5rem 2rem;
}

/* ── Navbar ── */
.nav {
  background-color: var(--dark-slate-infinity);
}
.nav-list {
  margin: 0;
  list-style: none;
  padding-left: 0;
  padding: 1rem;
  text-align: center;
}

.nav-item {
  display: inline-block;
  margin: 0 1rem;
}

.nav-link {
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  font-weight: 500;
  border-radius: 4px;
  color: var(--ice-blue-juvie);
  transition:
    background 0.5s,
    color 0.5s;
}

.nav-link:hover {
  background-color: var(--ice-blue-juvie);
  color: var(--dark-slate-infinity);
}

/* ── Sections ── */
.section {
  margin-top: 2rem;
}

.h2 {
  border-bottom: 1px solid var(--gray-border);
  text-align: left;
}

/* ── Book list ── */

.books-container {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 1rem;
}

.books-list li {
  margin-bottom: 0.5rem;
}

.books-list li > ol {
  margin-top: 0.4rem;
}

.images-container {
  text-align: center;
}

.book-img {
  width: 220px;
  height: 320px;
  border-radius: 5px;
  transition: transform 0.2s ease;
}

.book-img:hover {
  transform: scale(1.1);
}

/* ── Table ── */
.table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.table th,
.table td {
  font-weight: 600;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid var(--gray-border);
}

.table tr:nth-child(even) {
  background-color: var(--table-background);
}

.table-heading {
  background-color: var(--table-emphasis-background);
}

.table-footer td {
  font-weight: bold;
  background-color: var(--table-emphasis-background);
}

/*Form IRA Roth Calc */

.form-container {
  max-width: 420px;
  padding: 2rem;
  margin: 100px auto;
  border-radius: 10px;
  background-color: var(--background-color);
}

.form-accent-color {
  background-color: var(--form-accent);
}

.h1 {
  text-align: center;
  color: var(--form-heading);
}

.form-label {
  display: inline-block;
  width: 48%;
}

.form-input {
  display: inline-block;
  width: 45%;
  border: 1px solid var(--gray-border);
  border-radius: 6px;
  padding: 0.5rem;
}

.form-radios {
  margin-left: 40px;
  margin-bottom: 0.75;
}
.form-note {
  font-size: 0.8rem;
  margin-top: 2rem;
}

.form-note a {
  color: var(--form-heading);
}

.form-element {
  margin: 0.5rem;
}

.btn {
  display: inline-block;
  width: 49%;
  border: 0;
  padding: 0.65rem 1rem;
  margin-top: 1rem;
  border-radius: 6px;
}

.btn-submit {
  background-color: var(--form-heading);
  color: var(--form-white);
}

.btn-reset {
  background-color: var(--gray-border);
}

.btn-submit:hover {
  background-color: var(--form-accent);
}
